{% extends "templates/web.html" %}
{% block title %} Today's Birthdays {% endblock %}
{% block head_include %}
<style>
    body {
        padding: 35px;
    }
</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}
{%- block content -%}
<p><center><b>TODAY'S BIRTHDAYS</b></center></p>
{% if bday_data == 'No Birthdays Today' %}
    <p><center><b>No Birthday Today</b></center></p>
{% else %}
    <div id="birthdayCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner">
            {% for index, row in enumerate(bday_data) %}
                <div class="carousel-item {% if index == 0 %} active {% endif %}">
                    <table width="100%" id="pager">     
                        <tbody>
                            <tr>
                                <td rowspan="5" style="text-align: center; line-height: normal;">
                                    <img src="{{ row['Default Image URL'] }}" alt="Image Description" style="max-width: 300px; max-height: 600px;">
                                </td>
                                <td style="text-align: left; line-height: normal;">
                                    <b>Employee ID: </b>{{ row['ID'] }}
                                </td>
                            </tr>
                            <tr style="text-align: left; line-height: normal;">
                                <td><b>Name: </b>{{ row['Name'] }}</td>
                            </tr>
                            <tr style="text-align: left; line-height: normal;">
                                <td><b>Category: </b>{{ row['Employee Category'] }}</td>
                            </tr>
                            <tr style="text-align: left; line-height: normal;">
                                <td><b>Department: </b>{{ row['Department'] }}</td>
                            </tr>
                            <tr style="text-align: left; line-height: normal;">
                                <td><b>Designation: </b>{{ row['Designation'] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#birthdayCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#birthdayCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endif %}

{% endblock %}

